/* selector{
    decleration (properyt:value;)
} */

h1{
    background-color: brown;

}

#para1{
    color: red;
}
#para0{
    color: blueviolet;
}


.bg{
    background-color: yellow;
}
.hh{
    border: 4px solid green;
}