/* h1{
    background-color: red;
    color: yellow;
}
p{
    background-color: hsla(240, 74%, 44%, 0.79);
    color: yellow; */
/* } */

/* body{
    height: 100vh;
    /* background-color: blueviolet; */
    /* background-image: url("https://images.pexels.com/photos/26781840/pexels-photo-26781840.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
} */ */